.first div{
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
    
}
@media only screen and (max-width:600px){
    div.first{
        flex-flow: wrap-reverse;
    }
}